<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MyKnockKnockToken" value="4ddac338-4cde-4b05-b893-5bbaaff1ee54"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IRedPill"/>
          <binding name="BasicHttpsBinding_IRedPill">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:5555/RedPill.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRedPill"
            contract="DigiAeon.KnockKnock.Services.Interfaces.IRedPill" name="BasicHttpBinding_IRedPill" />
        <endpoint address="https://localhost:5556/RedPill.svc"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRedPill"
            contract="DigiAeon.KnockKnock.Services.Interfaces.IRedPill" name="BasicHttpsBinding_IRedPill" />
      </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
